.idea/
.vs/
.vscode/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
docs/
!docs/Doxyfile
!docs/Doxyfile.in
!docs/style.css
explorer/src/test.cpp
